.personal{
    background-color: #8bb98b;
}
.other{
    background-color: #8b91b9;
}
.full-day{

}
.partial-day{
    border-radius: 50%;
}

.flex-container {
    display: flex;
    align-items: stretch;
}

/* .flex-container > div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
} */

 .flex-content {    
    background-color: #f1f1f1;
    width: 50%;
    flex-grow: 1;
    margin: 2px;
    text-align: center;
} 